@charset "utf-8";
/* 你自己的样式 */
body,html{
	width:100%;
	height:100%;
	min-height: 100%;
	position: relative;
	font-size:14px;
	color:#333;
	background-color:#fff;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
a:hover{
	text-decoration: none;
}
.ztree * {
	font-size:14px;
}
.bg{
	width: 100%;
	height:100%;
	background: #f3f5f6;
	overflow: auto;
	position: relative;
}
.breadcrumb{
	color:#b1c3cc;
	line-height: 40px;
	height:40px;    
	background-color: #ffffff;
    padding: 0 20px;    
    border-bottom: 1px solid #e5e5e5;
    overflow: hidden;
}
.gray{
	color:#7a868d;
}
.term{
	padding:0 50px;
	color:#7a868d;
	font-size: 14px;
}
.small{
	font-size: 12px;
	font-weight: normal;
}
.ml-8{
	margin-left:8px;
}
.mt-18{
	margin-top: 18px;
}
.mt-16{
	margin-top: 16px;
}
.ml-80{
	margin-left: 80px;
}
.pt-18{
	padding-top: 18px;
}
.w-60{
	width: 60px;
}
.buttonBox{
	padding-left: 65px;
}
/*==============btn==============*/

.radius {
	border-radius: 2px;
}
a.btn{
	font-size: 12px;
	width: 80px;
	height:36px;
	line-height: 36px;
	padding:0;
}
.btn-blove{
	color: #fff;
	background-color: #f4a460;
	border-color: #f4a460;
}
.btn-blove:hover, .btn-blove:focus, 
.btn-blove:active, .btn-blove.active {
	color: #fff;
	background-color: #f4a460;
	border-color: #f4a460;
	opacity: 0.8;
	filter:alpha(opacity=80);
}
.btn-primary {
	background-color: #29cca3;
	border-color: #29cca3;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
	color: #fff;
	background-color: #29cca3;
	border-color: #29cca3;
	opacity: 0.8;
	filter:alpha(opacity=80);
}
.btn-danger {
	color: #fff;
	background-color: #7a868d;
	border-color: #7a868d;
}
.btn-danger:hover, .btn-danger:focus, 
.btn-danger:active, .btn-danger.active {
	color: #fff;
	background-color: #7a868d;
	border-color: #7a868d;
	opacity: 0.8;
	filter:alpha(opacity=80);
}
.btn-delete{
	color: #fff;
	background-color: #fd6776;
	border-color: #fd6776;
}
.btn-delete:hover, .btn-delete:focus, 
.btn-delete:active, .btn-delete.active {
	color: #fff;
	background-color: #fd6776;
	border-color: #fd6776;
	opacity: 0.8;
	filter:alpha(opacity=80);
}
.btn-cyan{
	color: #fff;
	background: #3BD147;
	border-color: #3BD147;
}
.btn-cyan:hover, .btn-cyan:focus, 
.btn-cyan:active, .btn-cyan.active {
	color: #fff;
	background-color: #3BD147;
	border-color: #3BD147;
	opacity: 0.8;
	filter:alpha(opacity=80);
}
.btn-orange{
	color: #fff;
	background: #F2950D;
	border-color: #F2950D;
}
.btn-orange:hover, .btn-orange:focus, 
.btn-orange:active, .btn-orange.active {
	color: #fff;
	background-color: #F2950D;
	border-color: #F2950D;
	opacity: 0.8;
	filter:alpha(opacity=80);
}
.btnList{
	width: 120px;
	height: 44px;
	line-height: 44px;
	text-align: center;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	font-size: 14px;
	color:#fff;
}
a.conformBtn{
	background: #229ee6;
	color:#fff;
}
a.conformBtn:hover{
	background: #229ee6;
	color:#fff;
	opacity: 0.8;
	filter:alpha(opacity=80);
}
a.deleteBtn{
	background: #7a868d;
	color:#fff;
}
a.deleteBtn:hover{
	background: #7a868d;
	color:#fff;
	opacity: 0.8;
	filter:alpha(opacity=80);
}
.delButton{
	position: absolute;
	height:50px;
	text-align: center;
	line-height: 50px;
	color:#fff;
	bottom: 26px;
}
.cancleBtn{
	background: #7a868d;
	right: 18px;
}
.onBtn{
	background: #596266;
	left: 18px;
}
.onBtn:hover,.onBtn:focus{
	background: #596266;
	opacity: 0.9;
	filter:alpha(opacity=90);
	color:#fff;
}
.cancleBtn:hover,.cancleBtn:focus{
	background: #7a868d;
	opacity: 0.9;
	filter:alpha(opacity=90);
	color:#fff;
}

/*==============btn==============*/

/*table*/
.table-bordered{
	border:none;
}
.table-pd{
	padding:20px 50px 100px;
}
.table-bg thead th {
	background: url(../images/menu_bg.png) repeat-x;
	background-size: 100% 100%;
	height: 50px;
}
.table-bg tbody td {
	background: url(../images/td.png) repeat-x;
	background-size: 100% 100%;
	height: 70px;
}
.table-bg td a{
	color: #7a868d;
}
.table td a:hover{
	color:#06c;
}
.table-bordered th, .table-bordered td {
	border-left: none;
	border-right: none;
	border-bottom: none; 
	padding: 0;
	font-size: 14px;
	color: #7a868d;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
	background: #f5fafb;
}
.table-hover tbody tr.table-selected td{
	background: #dff0d8!important;
}
.text-input{
	font-size: 14px;
    height: 32px;
    line-height:32px;
    padding-left: 4px;
    box-sizing: border-box;
    border: solid 1px #a0abbf;
    width: 100%;
    -webkit-transition: all .2s linear 0s;
    -moz-transition: all .2s linear 0s;
    -o-transition: all .2s linear 0s;
    transition: all .2s linear 0s;
	color:#596266;
}
.text-input:focus{
	border:1px solid #3bb4f2;
}

/*=====================弹出层star==================*/
.popup{
	display: none;
	position: fixed;
	z-index: 999;
	width: 100%;
	height:100%;
	left: 0;
	top:0;
}
.smallCont{
	width:336px;
	height:216px;
	background: url(../images/cancle.png) no-repeat;
	background-size:100% 100%;
	position: absolute;
	z-index: 999;
	left: 50%;
	top:50%;
	margin-left: -168px;
	margin-top:-108px;
	text-align: center;
}
.smallCont h2{
	font-size: 16px;
	color: #596266;
	padding-top: 60px;
	padding-bottom: 0;
	line-height: 34px;
}
.middleContent h2{
	font-size: 16px;
	color:#596266;
	padding:50px 50px 0;
	line-height: 34px;
}
.smallCont .delButton{
	width: 300px;
}
.middleContent{
	width:336px;
	height:236px;
	background: url(../images/delete.png) no-repeat;
	background-size:100% 100%;
	position: absolute;
	z-index: 999;
	left: 50%;
	top:50%;
	margin-left: -168px;
	margin-top:-118px;
	text-align: center;
}
.middleContent .delButton{
	width: 150px;
}
.largeContent{
	width: 486px;
	height:496px;
	background:url(../images/person.png) no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 50%;
	top:50%;
	margin-top: -243px;
	margin-left: -248px;
	z-index: 999;
}
.largeContent .delButton {
	width: 225px;
}

.popup h3{
	line-height: 26px;
	font-size:14px;
	color:#8e9aa1;
	font-weight: bold;
}
.popup .titleBorder{
	width: 400px;
	margin-left: 18px;
	padding:0 20px 0 30px;
	border-bottom: 1px solid #ccc;
}

	/*==============弹出层over==============*/

/*分页插件样式*/
.compact-theme a, .compact-theme span{
	min-width: 20px;
	line-height: 30px;
}
.compact-theme li:first-child a, .compact-theme li:first-child span{
	border-left:1px solid #CCCCff; 
}
.compact-theme .current{
	background:#49b1f1;
	color:#fff;
}

/*index.html*/
.homePage .middleContent h2{
	padding-top: 70px;
}
.navbar-wrapper {
	height: 100px;
	background: #fff;
	border-bottom: 1px solid #e3e5e6;
}
.navbar {
	background: #fff;
	height:100px;
}
.container-fluid{
	padding-left: 0;
	padding-right: 0;
}
.navbar .logo {
	width:180px;
	height:100px;
	background:#6f7a80 url(../images/logo.png) no-repeat center center;
	background-size: 50px 49px;
	margin-right: 30px;
	line-height:60px;
}
.navbar-slogan {
	background: url(../images/login_title.png) no-repeat;
	background-size: 436px 42px;
	width:436px;
	height:42px;
	margin-top:30px;
}
.navbar .logo a{
	text-indent:-999em;
	display: block;
}
#Hui-userbar{
	right: 0;
}
#Hui-userbar > ul > li  {
	font-size: 20px;
	color:#7a868d;
}
#Hui-admin{
	line-height: 100px;
	margin-right: 30px;
}
#Hui-userbar .dropDown{
	width: 118px;
	border-left: 1px solid #e3e5e6;
	cursor:pointer;
	height:100px;
	font-size:14px;
}
#Hui-userbar .dropDown:hover{
	background: #fafafa;
}
#Hui-userbar .dropDown span{
	line-height: 36px;
	font-size: 14px;
}
#passWord a{
	display: block;
	border-left:none;
	padding: 0;
	width: 118px;
	padding-top: 24px;
}
#passWord a span{
	color:#7a868d;
}
.dropDown i{
	display: block;
	width: 28px;
	height: 28px;
	margin-top: 24px;
	margin-left: 46px;
}
#passWord i{
	margin-top: 0;
	background: url(../images/xiugai_icon.png) no-repeat;
	background-size: 100% 100%;
}
#quit i{
	background: url(../images/tuichu_icon.png) no-repeat;
	background-size: 100% 100%;
}
.Hui-aside{
	width: 180px;
	top:100px;
	background:#43494d;
	padding-top:0;
	position: absolute;
	bottom:0;
	left:0;
	z-index:99;
	overflow:hidden;
	border-right: 1px solid #e5e5e5
}
.menu_dropdown{
	width: 197px;
	height: 100%;
	overflow-x:hidden;
}
.menu_dropdown li:hover,.menu_dropdown dt:hover{
	background: #435865;
}
#menu-first a{
	border-bottom: none;
	font-size: 14px;
	font-weight: normal;
}
#menu-first .home{
	background: url(../images/home_icon.png) 20px center no-repeat;
	padding-left: 56px;
}
#menu-first li.active1 .home{
	background: url(../images/home_icon_selected.png) 20px center no-repeat;
}
p{
	margin-bottom: 0;
}
.Hui-aside .menu_dropdown dt{
	height:60px;
	line-height:60px;
	border-bottom:none;
	color:#fff;
	font-size:14px;
	padding-left: 20px;
}
.Hui-aside .menu_dropdown dt p{
	width: 100px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.zuzhi {
	width:22px;
	height:22px;
	background:url(../images/zuzhi_icon.png) no-repeat;
	margin-top: 19px;
	margin-right: 14px;
}
.shebei{
	width:22px;
	height:22px;
	background: url(../images/shebei_icon.png) no-repeat;
	margin-top: 19px;
	margin-right: 14px;
}
.menjin{
	width:22px;
	height:22px;
	background: url(../images/menjin_icon.png) no-repeat;
	margin-top: 19px;
	margin-right: 14px;
}
.kaoqin {
	width:22px;
	height:22px;
	background:url(../images/kaoqin_icon.png) no-repeat;
	margin-top: 19px;
	margin-right: 14px;
}
.fangke {
	width:22px;
	height:22px;
	background:url(../images/fangke_icon.png) no-repeat;
	margin-top: 19px;
	margin-right: 14px;
}
.message {
	width:22px;
	height:22px;
	background:url(../images/fuwu_icon.png) no-repeat;
	margin-top: 19px;
	margin-right: 14px;
}
.Hui-aside .arrow{
	width:5px;
	height:9px;
	background: url(../images/nav_arrow_left.png) no-repeat;
	margin-top: 26px;
	margin-left: 5px;
}
.Hui-aside .menu_dropdown dt .arrow {
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
}
.Hui-aside .menu_dropdown dt.selected .arrow {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.Hui-aside .menu_dropdown dd li a{
	padding-left: 56px;
	padding-right: 12px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.Hui-aside .menu_dropdown dd ul {
	padding:0;
	background:#484e52;
}
.Hui-aside .menu_dropdown li a {
	color: #fff;
	border-bottom:none;
}
.Hui-article-box{
	top:101px;
	left: 180px;
}
/*======================idiLinker===============*/
.publicTitle{
	margin:20px 50px 0;
	height: 40px;
}
.term input{
	color:#7a868d;
}
.matter{
	margin-left: 12px;
}
.table tbody tr td:first-child{
	padding-left: 4px;
}
.regularSelect{
	width: 148px;
	height:30px;
	line-height: 30px;
	border:1px solid #b1c3cc;
	margin-top: 18px;
	margin-left: 20px;
	position: relative;
	overflow: hidden;
	background: url(../images/up.png) 130px center no-repeat;
}
.popup .regularSelect{
	background: url(../images/up.png) 170px center no-repeat;
}
.regularSelect select{
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	color:#7a868d;
	cursor:pointer;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    background:transparent;
    border:none;
    padding-left:10px;
    border: none!important; 
}
select::-ms-expand { display: none; };
.regularSelect select option{
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
}

/*baseManage,baseStatus,jurisdiction,company*/
.manage .termBox{
	height: 70px;
	background: #fff;
	margin-top: 20px;
	padding-left: 10px;
}
.manage .w-110{
	width:110px;
	margin-left: 10px;
}
.manage .tagMessage .delButton{
	width: 150px;
}
.manage .matter{
	margin-left: 30px;
}
.manage .presentation{
	line-height:70px;
}
/*userManage,tagCode,labelManage,labelStatus,templet*/
.commodity .termBox{
	background: #fff;
	margin-top: 20px;
}
.commodity .regularSelect{
	margin-top: 10px;
	margin-left: 6px;
}
.commodity .w-110{
	width:152px;
	margin-top: 10px;
	margin-left: 6px;
}
/*==================添加页面===============*/
.table-row{
	padding:30px 50px;
}
.add{
	background: #fff;
	padding:40px 20px 30px;
	width: 500px;
}
.row{
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 16px;
}
.choice{
	color: #8e9aa1;
}
.prompt{
	color: #fd6776;
    font-size: 14px;
}
.caption{
	padding-top: 4px;
}
.add .caption label{
	width: 90px;
	padding-right: 10px;
	text-align: right;
    color: #8e9aa1;
    display: block;
}
.add .regularSelect{
	width: 200px;
	margin-top: 0;
	margin-left: 0;
	background: url(../images/up.png) 180px center no-repeat;
}
.add .btn-orange{
	height: 32px;
	line-height: 32px;
}
.add .text-input{
	width: 200px;
}
.errorMessage{
	margin-left: 65px;
	margin-bottom: 16px;
	width: 540px;
}
.errorMessage p{
	color: #fd6776;
	line-height: 24px;
	padding-left: 10px;
	background-color: #fff;
}

/*userAdd,templetAdd*/
.append .buttonBox{
	padding-bottom: 20px;
}

/*storageLog,outboundLog*/
.log .termBox{
	background: #fff;
	margin-top: 20px;
} 
.log .matter{
	margin-right: 60px;
}
.log .presentation{
	line-height:52px;
	width: 60px;
	text-align: right;
}
.log .w-110{
	width:152px;
	margin-top: 10px;
	margin-left: 20px;
}
.log .regularSelect{
	margin-top: 10px;
}
/*=====================welcome================*/
.loginWraper .table-pd{
	padding-bottom: 0;
}
.loginWraper .row{
	margin-bottom: 0;
}
.loginWraper .service{
	height: 240px;
	margin-bottom: 10px;
	background:#fff;
	border: 1px solid #e3e5e6;
}
.messageTitle{
	background: #5C95F3;
	padding-left: 20px;
}
.messageContent{
	padding-left: 30px;
}
.messageTitle h4{
	line-height: 30px;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	margin-top: 0;
}
.messageContent p{
	font-size: 16px;
	margin-bottom: 10px;
	color:#7a868d;
	font-weight: bold;
}
.messageContent li{
	line-height: 24px;
	font-size: 14px;
	color: #859095;
}
.messageContent li span{
	color:#7a868d;
}
.messageContent li .websit{
	color:#06c;
}
/*=====================baseManage.html===============*/
.baseManage .largeContent{
	height: 430px;
	margin-top: -215px;
}
.baseManage .delButton{
	bottom: 23px;
}
/*===============templet.html============*/
.templet .matter{
	margin-right: 60px;
}
.templet .presentation{
	line-height:52px;
	width: 60px;
	text-align: right;
}
.templetMessage .delButton{
	width: 150px;
}
.picture{
	width: 200px;
	height: 200px;
	border:solid 1px #a0abbf;
	margin-bottom: 10px;
}
.picture img{
	display: block;
	width: 200px;
	height: 200px;
	background-size: cover;
}
.upBtn{
	position: relative;
}
.upBtn .file{
	left: 0;
}
/*===============labelStatus.html============*/
.labelStatus .matter{
	margin-right: 60px;
}
.labelStatus .presentation{
	line-height:52px;
	width: 60px;
	text-align: right;
}
.mt-8{
	margin-top: 8px;
}
/*==================labelManage.html=========*/
.labelManage .matter{
	margin-right: 60px;
}
.labelManage .presentation{
	line-height:52px;
	width: 60px;
	text-align: right;
}
.labelAdd .delButton{
	bottom: 22px;
}
.example{
	color: #06c;
}
.double{
	display: none;
}
.fileName{
	position: relative;
	width: 290px;
}
.file{
	width: 86px;
	height: 32px;
	position: absolute;
	right: 5px;
	top: 0;
	cursor: pointer;
	overflow: hidden;
	z-index: 1;
	opacity: 0;
	filter:alpha(opacity=0);
	font-size: 150px;
}
.labelMessage .delButton{
	width: 150px;
}
/*==================tagCode.html=========*/
.tagCode .publicTitle{
	margin-left: 20px;
}
.tagCode .presentation{
	line-height:52px;
	width: 88px;
	text-align: right;
}
.tagCode .btnList{
	height: 36px;
	line-height: 36px;
}
.tagCode .term{
	padding: 0 20px;
}
.tagCode .table-pd{
	padding: 20px 20px 100px;
}
.article{
	line-height: 52px;
	margin-left: 6px;
}
/*======================userManage.html===============*/
th p{
	line-height: 14px;
}
.userManage .delete h2{
	padding-top: 70px;
}
.userManage .presentation{
	line-height:52px;
	width: 88px;
	text-align: right;
}
.userManage .btnList{
	height: 36px;
	line-height: 36px;
}
/*======================tagList.html======================*/
.listTable{
	margin-top: 20px;
}
.tagList .regularSelect{
	margin-top: 0;
	margin-left: 0;
	margin:0 auto;
}
.tagList .regularSelect span{
	width: 120px;
	padding-left: 0;
}
.tagList .text-input{
	width: 200px;
}
.tagList .delete .delButton{
	width: 150px;
}
.tagList .text-input{
	background: transparent;
}
/*======================group.html===============*/

.group .tagMessage .delButton{
	width: 150px;
}
.group .tableTree{
	background:#fff;
	height: 460px;
	overflow-y: auto;
	padding-left: 50px;
	padding-top: 20px;
}
/*======================jurisEdit.html===============*/
.jurisEdit .admin{
	margin-top: 4px;
	color: #7a868d;
	margin-right: 10px;
}
.jurisEdit .roles{
	margin-top: 4px;
	color: #7a868d;
}
.person{
	padding:20px 50px;
}
.person .ztree{
	height: 300px;
	overflow: auto;
}
.jurisEdit a.btn{
	height: 32px;
	line-height: 32px;
}
/*======================password.html===============*/
.password .buttonBox{
	padding-left: 15px;
	padding-top: 30px;
}
.password .errorMessage{
	margin-left: 15px;
	margin-top: 20px;
}
/*======================idiLinker===============*/

